ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.landing {
  position: relative;
  background: url("./img/canisius-college-frame-exposed.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* filter: brightness(1.1); */
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -50px;
}

.Navbar {
  background-color: #111;
}

.lead {
  color: black;
  font-weight: bold;
  font-size: 18pt;
}

.landing-inner {
  padding-top: 80px;
}

li {
  float: left;
}

.title {
  color: blue;
  font-size: 120px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.email {
  background: #ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width: 250px;
  color: #aaaaaa;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 4px;
}
.box {
  background: white;
  width: 300px;
  border-radius: 6px;
  margin: 0 auto 0 auto;
  padding: 0px 0px 70px 0px;
  border: #2980b9 4px solid;
}
.password {
  border-radius: 4px;
  background: #ecf0f1;
  border: #ccc 1px solid;
  padding: 8px;
  width: 250px;
  font-size: 1em;
}
.setQuestionBtn {
  float: left;
  display: block;
  padding: 0px 20px;
  margin: 0px 3px;
  width: 25%;
  background-color: "#66666";
  text-align: center;
}
.hideQuestionBtn {
  float: left;
  display: block;
  padding: 0px 20px;
  margin: 0px 3px;
  width: 25%;
  background-color: "#66666";
  text-align: center;
}
